html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #108639;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}
